// Defaults

$button-border-color: #000 !default;
$button-border-color-hover: #999 !default;
$button-background-color-hover: rgba(#fff, .5) !default;
$button-border-size: 1px !default;
$button-border-style: solid !default;
$button-border-radius: .5rem !default;
$button-transition-duration: .3s !default;
$button-transition-easing: linear !default;
$button-background-color: transparent !default;
$button-loader-color: get-color('yellow');

// Main button styles

button::-moz-focus-inner {
  border:0;
  padding:0;
  margin:0;
}

.button {
  display: inline-block;
  vertical-align: top;
  border: $button-border-size $button-border-style $button-border-color;
  border-radius: $button-border-radius;
  padding: .37rem 1rem;
  margin: 1rem 0;

  transition: opacity $button-transition-duration $button-transition-easing,
              width $button-transition-duration $button-transition-easing,
              border-color $button-transition-duration $button-transition-easing,
              transform $button-transition-duration $button-transition-easing;

  background-color: $button-background-color;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;

  @include breakpoint(screen get-breakpoint('desktop')) {
    padding-top: .41rem;
    padding-bottom: .36rem;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $button-border-color-hover;
    outline: none;

    .button__symbol {
      color: $button-border-color-hover;
    }
  }

  &--active {
    border: $button-border-size $button-border-style $button-border-color-hover;
  }

  &--transparent {
    opacity: 0;
  }

  &--loading {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    position: relative;
    border-color: $button-loader-color;
    animation: loader 2s infinite ease;
    cursor: default;
    text-indent: -99999rem;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: $button-loader-color;
      animation: loader-inner 2s infinite ease-in;
    }
  }
}

// Buttons with icon

.button__symbol {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  margin-left: -.5em;
  vertical-align: bottom;
  display: inline-block;
  position: relative;
  color: $button-border-color;
  transition: $button-transition-duration $button-transition-easing;
}

.button--small {
  .button__symbol {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    margin-left: -.5rem;
  }
}

// Button groups

.button__group {
  display: inline-block;
  vertical-align: bottom;
  margin: 1rem 0;

  > .button {
    margin: 0;
    float: left;

    &:hover,
    &:focus,
    &:active {
      border-color: $button-border-color;
      background-color: rgba($button-background-color-hover, .5);
    }

    &:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child) {
      border-left-width: 0;
    }
  }
}

// Filter buttons

.button--filter:not(.button--active) {
  background-color: $button-border-color;

  &:hover,
  &:focus,
  &:active {
    background-color: $button-background-color;
  }
}
