%cover-image {
  background-size: cover;
  background-position: center center;
  background-repeat: none;
}

.cover-image {
  @extend %cover-image;
  height: 640px;
  height: calc(100vh - 8rem);
}

.home-carousel__slide__cover-image {
  @extend %cover-image;
}
