.image {
  &--fullwidth,
  &--halfwidth {
    display: block;
    width: 100%;
    height: auto;
  }

  &--fadein {
    transition: opacity get-transition('fast') get-easing('natural');
  }

  &--loading {
    opacity: 0;
  }
}
