%menu-toggle-symbols {
  position: absolute;
  width: 1rem;
  height: .375rem;
  left: 0;
  background-color: get-color('yellow');
  transition: all .6s get-easing('swiftly');
  will-change: transform;
}

.menu-toggle__symbol--left,
.menu-toggle__symbol--right {
  @extend %menu-toggle-symbols;

  top: 50%;
  margin-top: -.1875rem;
}

.menu-toggle__symbol--left::after,
.menu-toggle__symbol--right::after {
  @extend %menu-toggle-symbols;

  content: '';
  top: .75rem;
}

.menu-toggle__symbol--left::before,
.menu-toggle__symbol--right::before {
  @extend %menu-toggle-symbols;

  content: ' ';
  top: -.75rem;
}

.menu-toggle__symbol--right,
.menu-toggle__symbol--right::before,
.menu-toggle__symbol--right::after {
  left: auto;
  right: 0;
}

.button {
  &.menu-toggle {
    background-color: rgba(get-color('white'), .9);
    transform: translateY(0);

    &--open {
      border-color: get-color('white');
      background-color: get-color('yellow');

      &:hover {
        border-color: get-color('grey-light');
      }
    }

    &--faded:not(.menu-toggle--open) {
      opacity: 0;
      transform: translateY(-5rem);
    }
  }
}

.menu-toggle--open {
  .menu-toggle__symbol--left,
  .menu-toggle__symbol--right {
    background-color: transparent;
  }

  .menu-toggle__symbol--left::before,
  .menu-toggle__symbol--left::after,
  .menu-toggle__symbol--right::before,
  .menu-toggle__symbol--right::after {
    background-color: get-color('white');
  }

  .menu-toggle__symbol--left::before {
    transform: rotateZ(45deg) scaleX(1.4) translate(.2rem, .2rem);
  }
  .menu-toggle__symbol--left::after {
    transform: rotateZ(-45deg) scaleX(1.4) translate(.2rem, -.2rem);
  }
  .menu-toggle__symbol--right::before {
    transform: rotateZ(-45deg) scaleX(1.4) translate(-.2rem, .2rem);
  }
  .menu-toggle__symbol--right::after {
    transform: rotateZ(45deg) scaleX(1.4) translate(-.2rem, -.2rem);
  }
}

.menu-toggle--fixed {
  position: fixed;
  will-change: transform;
  top: .5rem;
  right: 1.5rem;
  z-index: 200;
}

.feat--js .menu-content {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  will-change: transform;

  &--open {
    opacity: 1;
  }
}

.menu-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: get-color('yellow');
  z-index: -1;
  padding: 5rem 0 5rem 0;

  &--open {
    z-index: 100;
    animation: scalein get-transition('slow') get-easing('swiftly');
  }

  &--close {
    z-index: 100;
    animation: fadeout get-transition('slow') get-easing('swiftly');
  }
}

.main-navigation {
  margin: auto;
  width: 100%;
}

.main-navigation__menu {
  text-align: center;
  padding: 0;
}

.main-navigation__menu__item {
  &--active {
    .main-navigation__menu__item--link {
      color: get-color('white');
    }
  }
}

.feat--js .menu-content {
  .main-navigation__menu__item  {
    transition: all get-transition('fast') get-easing('natural');
    transition-delay: get-transition('slow');
    transform: translateY(48px);
    opacity: 0;
  }

  &--open {
    .main-navigation__menu__item {
      transform: translateY(0);
      opacity: 1;

      @for $i from 1 through $menu-total-items {
        &:nth-child(#{$i}) {
          transition-delay: .1 + $i * .1s;
        }
      }
    }
  }
}

.main-navigation__menu__item--link {
  @extend %type-heading;
  @include sassline(giga, $headingtype, 4, 2, all);

  color: get-color('black');
  font-weight: map-get($headingtype, bold);
  display: inline-block;
  text-decoration: none;
  transition: color get-transition('xfast') get-easing('natural');

  &:hover {
    color: get-color('white');
  }

  @include breakpoint(get-breakpoint('tablet')) {
    @include sassline(giga, $headingtype, 6, 2, all);
  }
}

.social-media-list {
  width: 100%;
  padding: 0;
  margin: 2rem 0 0;
  text-align: center;
}
.feat--js .menu-content {
   .menu-content__item--fadein {
    transition: all get-transition('fast') get-easing('natural');
    transition-delay: get-transition('slow');
    opacity: 0;
  }

  &--open {
    .menu-content__item--fadein {
      opacity: 1;
      transition-delay: .3 + $menu-total-items * .1s;
    }
  }
}

.social-media-list__item {
  display: inline-block;

  &:not(:last-of-type) {
    margin-right: 2rem;
  }
}

.social-media-list__item__link {
  display: inline-block;

  &:hover {
    .social-media-list__item__symbol {
      fill: get-color('black');
      color: get-color('white');
    }
  }
}

.social-media-list__item__symbol {
  min-width: 32px;
  min-height: 32px;
  width: 2rem;
  height: 2rem;
  vertical-align: bottom;
  transition: get-transition('normal');
  fill: get-color('white');
  color: get-color('black');
}

.menu-content__credits {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

.menu-content__credits__logo {
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
  color: get-color('white');
}

.menu-content__credits__link {
  color: white;
  text-align: right;
  text-decoration: none;
}

.menu-content__language-list {
  position: fixed;
  will-change: transform;
  top: 1.1rem;
  left: 1.5rem;

  @include breakpoint(get-breakpoint('tablet')) {
    top: 5rem;
    left: auto;
    right: 1.8rem;
  }
}

.menu-content__language-list__item {
  color: get-color('black');
  text-decoration: none;

  &.button {
    border-color: get-color('white');
  }

  &--active.button {
    background-color: rgba(get-color('white'), .5);
  }
}
