.home-carousel {
  height: 100vh;
}

.home-carousel__slide {
  display: block;
  height: 100vh;
}

.home-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
  color: get-color('white');
  width: 100%;

  @include breakpoint(get-breakpoint('tablet')) {
    width: 80%;
  }

  @include breakpoint(get-breakpoint('desktop')) {
    width: 60%;
  }

  @include breakpoint(get-breakpoint('desktop-large')) {
    width: 50%;
  }

  @include breakpoint(1920px) {
    width: 40%;
  }
}
