.type__grid {
  background-repeat: repeat-y;
  background-size: 100% 1rem;
  background-image: linear-gradient(rgb(0, 255, 255) 0, rgba(255, 255, 255, 0) 1px);
}

hr {
  background-image: linear-gradient(to bottom, get-element-color('body-background') 50%, get-element-color('grey') 50%);
  background-position: 0 50%;
  background-repeat: repeat-x;
  background-size: 100% .15rem;
  border: 0;
  margin: 0;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.dl.dl--centered {
  margin-left: auto;
  margin-right: auto;
}
