// Breakpoints and screen-related

$breakpoints: (
  'xxsmall': 320px,
  'xsmall': 480px,
  'small': 700px,
  'medium': 1024px,
  'large': 1280px,
  'xlarge': 1600px,
  'xxlarge': 1920px,
  'hidpi': 'min-resolution 1.5dppx'
);

// Colors

$colors: (
  'white': #fff,
  'yellow': #ffd800,
  'grey-dark': #4a4a4a,
  'grey': #9b9b9b,
  'grey-light': #ebebeb
);

// Fonts

$fonts: (
  'primary': (
    'family': 'expo-serif-pro, serif',
    'weight': (
      'regular': 400
    )
  ),
  'secondary': (
    'family': 'geogrotesque, Helvetica Neue, Helvetica, Arial, sans',
    'weight': (
      'light': 300,
      'regular': 400,
      'bold': 600
    )
  )
);

$font-sizes: (
  'text': (
    null: 14px,
    'xsmall': 15px,
    'small': 16px,
    'large': 18px,
    'xlarge': 20px
  ),
  'h1': (
    null: 28px,
    'xsmall': 32px,
    'small': 36px,
    'large': 41px,
    'xlarge': 46px
  ),
  'h2': (
    null: 20px,
    'xsmall': 22px,
    'small': 25px,
    'large': 28px,
    'xlarge': 32px
  ),
  'h3': (
    null: 18px,
    'xsmall': 20px,
    'small': 22px,
    'large': 25px,
    'xlarge': 28px
  ),
  'h4': (
    null: 16px,
    'small': 18px,
    'large': 20px,
    'xlarge': 22px
  ),
  'h5': (
    null: 15px,
    'small': 16px,
    'large': 18px
  )
);
