$loader-color: get-color('yellow');

.button--loading {
  width: 3rem;
  height: 3rem;
  position: relative;
  border-color: $loader-color;
  top: 50%;
  animation: loader 2s infinite ease;
  padding: 0;
  cursor: default;
  padding: 0;

  > span {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: $loader-color;
    animation: loader-inner 2s infinite ease-in;
  }
}



@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
