$loader-color: get-color('yellow');

.button--loading {
  width: 3rem;
  height: 3rem;
  position: relative;
  border-color: $loader-color;
  animation: loader 2s infinite ease;
  cursor: default;
  text-indent: -99999rem;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $loader-color;
    animation: loader-inner 2s infinite ease-in;
  }
}
