.contact-container {
  padding-top: get-padding(vertical) * 2;

  @include breakpoint(get-site-breakpoint('desktop')) {
    padding-bottom: get-padding(vertical) * 2;
  }
}

.contact-offices {
  padding-bottom: get-padding(vertical) * 2;
}

.contact-offices__map {
  min-height: 28rem;

  .gmnoprint,
  .gmnoscreen,
  .gm-style-cc,
  .gm-style  a {
    opacity: 0;
    visibility: hidden;
  }
}


.contact-office {
  padding-left: 1rem;
}

.contact-office__location-link {
  text-decoration: none;
  cursor: pointer;

  &:hover, &--active {
    .contact-office__location-icon {
      fill: get-color('yellow');
      stroke: get-color('white');
      color: get-color('yellow');
    }
  }
}

.contact-office__location-icon {
  width: 1.5rem;
  height: 2rem;
  color: get-color('grey-light');
  fill: get-color('white');
  stroke: get-color('grey-light');
  display: inline;
  vertical-align: text-bottom;
  margin: 0 1rem 0 .5rem;
  transition: all get-transition('fast') get-easing('natural');
}

.contact-office__location-name {
  line-height: 3rem;
}

.contact-office__location-info {
  padding-left: 3.15rem;
}

// Social Media

.social-media-list.contact__social-media-list {
  margin: 1rem 0;
}

.contact__social-media__instagram {
  display: flex;
  flex-wrap: wrap;
}

.instagram-content__link {
  width: percentage(1/2);

  @include breakpoint(get-site-breakpoint('desktop')) {
    width: percentage(1/3);
  }
}

.instagram-content__image {
  display: block;
  width: 100%;
  height: auto;
}
