.home-carousel {
  height: 100vh;
}

.home-carousel__slide {
  height: 100vh;
}

.home-logo__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex;
}

.home-logo {
  margin: auto;
  color: get-color('white');

  @include breakpoint(get-site-breakpoint('tablet')) {
    width: 80%;
  }

  @include breakpoint(get-site-breakpoint('desktop')) {
    width: 60%;
  }

  @include breakpoint(get-site-breakpoint('desktop-large')) {
    width: 50%;
  }

  @include breakpoint(1920px) {
    width: 40%;
  }
}
