//  Filters
.projects-filters {
  display: none;
  text-align: center;

  @include breakpoint(960px) {
    display: block;
  }
}

// Grid

.projects-grid {
  margin-top: 5rem;

  @include breakpoint(960px) {
    margin-top: 0;
  }
}

// Grid Items

.projects-grid__item {
  transition: opacity get-transition('normal');
  will-change: transform;

  @include breakpoint(960px) {
    width: percentage(1/2);
  }

  @include breakpoint(1440px) {
    width: percentage(1/3);
  }

  @include breakpoint(1900px) {
    width: percentage(1/4);
  }
}

.feat--no-touch .projects-grid__item {
  .projects-grid__item--title {
    transform: translateY(0);
    background-color: get-color('white');
    line-height: 4rem;
    margin-bottom: 0;
  }

  .projects-grid__item--title,
  .projects-grid__item__thumbnail {
    will-change: transform;
  }

  .projects-grid__item__extras {
    will-change: opacity;
  }

  &:hover {
    .projects-grid__item--title {
      transform: translateY(-1.5rem);
    }

    .projects-grid__item__extras {
      opacity: 1;
      transition-delay: get-transition('xfast');
    }

    .projects-grid__item__thumbnail {
      transform: scale(1.025);
    }
  }
}

.projects-grid__item--title,
.projects-grid__item__extras {
  padding-left: get-padding(horizontal);
  padding-right: get-padding(horizontal);
}

.projects-grid__item--title {
  transition: transform get-transition('fast') get-easing('swiftly');
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.projects-grid__item__title--new {
  color: get-color('yellow');
  vertical-align: super;
}

.projects-grid__item--link {
  display: block;
  overflow: hidden;
}

.projects-grid__item--header {
  position: relative;
}

.projects-grid__item__extras {
  display: flex;
  width: 100%;
}

.feat--no-touch .projects-grid__item__extras {
  opacity: 0;
  transition: opacity get-transition('fast');
  position: absolute;
  bottom: 0;
  left: 0;
}

.projects-grid__item__extras__item {
  padding-right: 1em;
  line-height: 1rem;

  &:not(:first-child) {
    padding-left: 1.1em;
    background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0.4961rem, rgba(get-color('grey'), 1) 0.4962rem, rgba(get-color('grey'), 1) 100%);
    background-repeat: repeat-y;
    background-size: 1px 100%;
  }

  &:first-child {
    margin-left: 3px;
  }
}

.projects-grid__item__thumbnail {
  display: block;
  width: 100%;
  height: auto;
  transition: transform get-transition('fast') get-easing('natural'),
              opacity get-transition('fast') get-easing('natural');
  transform: scale(1);
}
