// Min/max viable widths (Mostly for 4K screens)

body {
  min-width: 300px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

// Grid

@include breakpoint-set('to ems', true);
@include breakpoint-set('base font size', $base-font-size);

.container {
  .row {
    max-width: $container-max-length;
    margin-left: auto;
    margin-right: auto;

    &--vpadded,
    &--hpadded,
    &--padded {
      @include breakpoint(screen ($container-max-length + (get-padding('horizontal') * 2))) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.row {

  &--vpadded,
  &--padded {
    padding-top: get-padding(vertical);
    padding-bottom: get-padding(vertical);
  }

  &--hpadded,
  &--padded {
    padding-left: get-padding(horizontal);
    padding-right: get-padding(horizontal);
  }

  .text {
    max-width: $text-max-length;
    margin-left: auto;
    margin-right: auto;
  }
}
