// Min/max viable widths (Mostly for 4K screens)

body {
  min-width: 300px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

// Grid

@include breakpoint-set('to ems', true);
@include breakpoint-set('base font size', $base-font-size);

.container {
  > .row {
    max-width: $container-max-width;
    margin-left: auto;
    margin-right: auto;

    &--vpadded,
    &--hpadded,
    &--padded {
      $container-total-width: $container-max-width + (get-padding('horizontal') * 2);

      @include breakpoint($container-total-width) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &--large {
    > .row {
      max-width: $container-large-max-width;
      margin-left: auto;
      margin-right: auto;

      &--vpadded,
      &--hpadded,
      &--padded {
        $container-total-width: $container-large-max-width + (get-padding('horizontal') * 2);

        @include breakpoint($container-total-width) {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

.row {
  &--vpadded,
  &--padded {
    padding-top: get-padding(vertical);
    padding-bottom: get-padding(vertical);
  }

  &--hpadded,
  &--padded {
    padding-left: get-padding(horizontal);
    padding-right: get-padding(horizontal);
  }

    &--flex {
      display: flex;
      flex-wrap: wrap;
    }

    &--stretch {
      align-items: stretch;
    }

  .text {
    max-width: $text-max-length;
    margin-left: auto;
    margin-right: auto;
  }
}

.row--vpadded,
.row--padded {
  .column {
    &--half,
    &--third,
    &--fourth {
      &:not(:last-child) {
        padding-bottom: get-padding(vertical) * 2;

        @include breakpoint(get-breakpoint('tablet')) {
          padding-bottom: 0;
        }
      }
    }
  }
}

.column {
  &--half,
  &--third,
  &--fourth {
    width: 100%;
  }

  @include breakpoint(get-breakpoint('desktop')) {
    &--half.column--desktop {
      width: percentage(1/2);
    }
    &--third.column--desktop {
      width: percentage(1/3);
    }
    &--fourth.column--desktop {
      width: percentage(1/4);
    }
    &--two-thirds.column--desktop {
      width: percentage(2/3);
    }
  }

  @include breakpoint(get-breakpoint('tablet')) {
    &--half.column--tablet {
      width: percentage(1/2);
    }
    &--third.column--tablet {
      width: percentage(1/3);
    }
    &--fourth.column--tablet {
      width: percentage(1/4);
    }
    &--two-thirds.column--tablet {
      width: percentage(2/3);
    }
  }

  &.text {
    padding-top: get-padding(vertical) * 2;
    padding-bottom: get-padding(vertical) * 2;
  }
}
