// Box Model

html {
  box-sizing: border-box;
}

*,
*:before
*:after {
  box-sizing: inherit;
}

// Pointer Events

svg {
  pointer-events: none;
}

// Selection

::selection {
  color: get-color('white');
  background-color: get-color('yellow');
  text-shadow: none;
}
