// Families

%font-primary-family {
  font-family: expo-serif-pro, serif;
}

%font-secondary-family {
  font-family: geogrotesque, Helvetica Neue, Helvetica, Arial, sans;
}

// Weights

%font-primary-weight-regular {
  font-weight: normal;
}

%font-secondary-weight-light {
  font-weight: 300;
}

%font-secondary-weight-medium {
  font-weight: 400;
}

%font-secondary-weight-bold {
  font-weight: 600;
}
